.card-cliente {
  --card-width: 200px;
  --card-height: 300px;
  width: var(--card-width);
  height: var(--card-height);
  padding: 10px;

  border-radius: var(--card-border);
  background: rgba(var(--color-cuarto), 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-align: center;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5);
}

.cliente__imagen {
  width: 75%;
  scale: 1.4;
  aspect-ratio: 1;
  border-radius: 50%;
  transition-property: scale, translate;
  transition-duration: var(--card-hover-duration);
  transition-timing-function: ease-in-out;
  translate: 0 calc(var(--card-width) * 0.25);
}

.cliente__nombre {
  font-size: 1rem;
  font-family: "Cinzel Decorative";
  text-align: center;
  text-shadow: 0 0 5px rgba(var(--color-primero), 1);
  translate: 0 calc(var(--card-width) * 0.4);
  transition-property: font-size, translate;
  transition-duration: var(--card-hover-duration);
  transition-timing-function: ease-in-out;
}

.cliente__opinion {
  height: 100%;
  font-size: 1rem;
  opacity: 0;
  translate: 0 50px;
  transition-property: opacity, translate;
  transition-duration: var(--card-hover-duration);
  transition-timing-function: ease-in-out;
  overflow-y: auto;
}

.cliente__opinion::-webkit-scrollbar {
  width: 5px;
}

.cliente__opinion::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-tercero), 0.5);
  border-radius: 5px;
}

.card-cliente:hover .cliente__imagen {
  scale: 1;
}

.card-cliente:hover .cliente__imagen,
.card-cliente:hover .cliente__nombre,
.card-cliente:hover .cliente__opinion {
  translate: 0;
}

.card-cliente:hover .cliente__opinion {
  opacity: 1;
}
