.main {
  width: 100%;
  padding-inline: 20px;
  padding-bottom: 50px;
  gap: 50px;
  margin-top: clamp(100px, 35vw, 320px);
}

.seccion-bienvenida {
  gap: 2rem;
}

.seccion__descripcion {
  gap: 2rem;
}

.imagen_principal {
  width: clamp(200px, calc(20vw + 200px), 800px);
}

.imagen_principal img {
  filter: drop-shadow(0px 40px 10px rgba(0, 0, 0, 0.5));
  width: 100%;
}

.seccion-opiniones {
  width: clamp(200px, 100%, 1200px);
  overflow-x: auto;
  padding-block: 20px;
}

.opiniones-clientes {
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .seccion-bienvenida {
    flex-direction: column;
  }
}

.seccion-capturas {
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.capturas-categorias {
  padding: 20px 40px;
  font-family: "Cinzel Decorative";
  font-weight: bold;
  gap: 20px;
  background-color: rgba(var(--color-tercero), 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.categoria__nombre {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.categoria__nombre.categoria--seleccionada {
  color: rgba(var(--color-tercero), 1);
  position: relative;
}

.categoria__nombre.categoria--seleccionada::after {
  content: "";
  position: absolute;
  border-radius: var(--card-border);
  background-color: rgba(var(--color-tercero), 1);
  width: 110%;
  height: 4px;
  bottom: -5px;
  left: calc(50% - 55%);
}

.contenedor-listados {
  width: 100%;
  height: 450px;
  gap: 20px;
  position: relative;
  overflow: hidden;
}

.listado-cards {
  position: absolute;
  width: 100%;
  padding-block: 20px 50px;
  padding-inline: 40px;
  gap: 50px;
  overflow-y: visible;
  overflow-x: auto;
  transition: translate 0.5s ease-in-out;
  opacity: 0;
}

.mostrarListado {
  /* display: flex; */
  animation: showList 0.5s ease-in-out forwards;
}

.ocultarListado {
  /* display: none; */
  animation: hiddenList 0.5s ease-in-out forwards;
}

@keyframes showList {
  0% {
    opacity: 0;
    translate: 200px 0;
  }
  100% {
    visibility: visible;

    opacity: 1;
    translate: 0;
  }
}

@keyframes hiddenList {
  0% {
    opacity: 1;
    translate: 0;
  }
  100% {
    opacity: 0;
    translate: -200px 0;
    visibility: hidden;
  }
}

.listado-cards :nth-child(even) {
  flex-direction: column-reverse;
}

.listado-cards::-webkit-scrollbar {
  height: 15px;
}

.listado-cards::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-tercero), 0.5);
  border-radius: var(--card-border);
}

@media (prefers-color-scheme: dark) {
  .categoria__nombre.categoria--seleccionada {
    color: rgba(var(--color-tercero), 1);
  }
}

@media (prefers-color-scheme: light) {
  .categoria__nombre.categoria--seleccionada {
    color: rgba(var(--color-segundo), 1);
  }
}

.contacto-contenedor {
  height: 500px;
  width: 100%;
  gap: 50px;
}

.formulario-contacto {
  width: 100%;
  height: 100%;
}

.formulario-datos {
  height: 100%;
  width: 100%;
}

.formulario-datos .form-input.message textarea{
  height: 100%;
  resize: none;
}

.contacto__imagen {
  height: 100%;
}

.seccion-ubicacion {
  gap: 50px;
}

.sucursales {
  gap: 50px;
}

.sucursal {
  padding: 5px 0px;
  gap: 10px;
}

.sucursal__ubicacion {
  font-size: 1.5rem;
}

.sucursal__datos {
  padding: 0px 20px;
  gap: 10px;
}

.sucursal__direccion {
}
.sucursal__telefono {
}

.mapa {
  border-radius: var(--card-border);
}
