.seccion-reserva {
  gap: 50px;
}
.datos-personales,
.datos-contacto {
  width: 100%;
}

.form-reserva {
  padding-inline: 50px;
  gap: 50px;
}

.icono-relog {
  /* background-image: url(../../assets/svg/x-circulo.svg); */
}

.pedido {
  gap: 1.5rem;
}

.pedido__platos {
  gap: 20px;
}

.plato {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background-color: rgba(var(--color-segundo), 1);
  position: relative;
}

.i-x {
  position: absolute;
  right: 6px;
  top: 6px;
}

.plato__imagen {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.plato__datos {
}
.plato__nombre {
  color: rgba(var(--color-tercero), 1);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.plato__precio {
  color: rgba(var(--color-texto-primario), 1);
  text-align: left;
  font-size: 1rem;
}

.pedido__datos-orden {
}

.plato__cantidad {
}

.campo-nombre {
  color: rgba(var(--color-texto-primario), 1);
  text-align: center;
  font-size: 15px;
  letter-spacing: 0;
}
.campo-valor {
  color: rgba(var(--color-tercero), 1);
}

.campo-nombre .plato__cantidad {
  color: rgba(var(--color-texto-primario), 1);
  text-align: center;
  font-size: 15px;
  letter-spacing: 0;
}

.icono .btn-restar-plato {
}

.campo-valor .plato__cantidad-valor {
  color: rgba(231.00000143051147, 161.0000056028366, 23.000000528991222, 1);
  font-size: 20px;
  letter-spacing: 0;
}

.plato__subtotal {
}

.campo-nombre .subtotal__texto {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
}
.campo-valor .subtotal__valor {
  color: rgba(231.00000143051147, 161.0000056028366, 23.000000528991222, 1);
  font-size: 1.3rem;
  letter-spacing: 0;
}

.pedido_total {
  background-color: rgba(var(--color-texto-primario), 1);
  border-radius: 10px;
}

.titulo_subtotales {
  color: rgba(var(--color-primero), 1);
  font-size: 2rem;
  letter-spacing: 0;
}

.subtotales {
  height: 50px;
}

.subtotal {
  height: 20px;
}

.campo-nombre {
  color: rgba(var(--color-primero), 1);
  font-size: 1.3rem;
}

.campo-valor {
  color: rgba(var(--color-tercero), 1);
  font-size: 1rem;
}

.separador {
  width: 100%;
  height: 5px;
}

.total-pedido {
}

.senia {
}

.total-pendiente {
}
