.tarjeta-datos {
  /* display: grid;
  grid-template:
    "datos-tarjeta tarjeta " 50px
    "datos-tarjeta tarjeta " 50px
    "datos-tarjeta tarjeta " 50px
    "datos-tarjeta datos-contacto " 50px
    "datos-tarjeta datos-contacto " 50px
    / 1fr 1fr; */
}

.datos-tarjeta {
  grid-area: datos-tarjeta;
}

.datos-contacto {
  grid-area: datos-contacto;
}

.datos-tarjeta,
.datos-derecha,
.datos-contacto {
  gap: 40px;
}

.tarjeta {
  grid-area: tarjeta;
  width: 380px;
  height: 230px;
  border-radius: 10px;
  font-size: 1.2rem;
  position: relative;
  background-color: rgba(48, 84, 176, 1);
}
.tarjeta__nombre,
.tarjeta__numero,
.tarjeta__fecha-vencimiento {
  position: absolute;
}
.tarjeta-fecha-vencimiento {
  width: 60%;
}

.tarjeta-cvv {
  width: 40%;
}

.tarjeta__numero {
  position: absolute;
  top: 60%; 
  left: 10px;
  transform: translateY(-50%);
  color: #fff; 
}


.tarjeta__nombre {
  position: absolute;
  bottom: 20px; 
  left: 10px; 
  color: #fff; 
}


.tarjeta__logo {
  position: absolute;
  top: 20px; 
  right: 20px; 
  width: 80px; 
  height: auto;
}

.tarjeta__fecha-vencimiento {
  position: absolute;
  bottom: 20px; 
  right: 20px; 
  color: #fff; 
}


@media screen and (max-width: 768px) {
  .tarjeta-datos {
    display: grid;
    grid-template:
      " tarjeta "
      " datos-tarjeta "
      " datos-contacto "
      / 1fr;
  }

  .datos-tarjeta,
  .datos-derecha,
  .datos-contacto {
    gap: 1rem;
  }
}
