* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: rgba(var(--color-texto-primario), 1);
  font-family: "Roboto Flex", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  /* 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

body {
  max-width: 100svw;
  min-height: 100svh;
  background-image: linear-gradient(rgba(var(--color-primero), 1), rgba(var(--color-cuarto), 1));
  position: relative;
  overflow: overlay;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.f-col {
  flex-direction: column;
}
.f-wrap {
  flex-wrap: wrap;
}
.jc-sb {
  justify-content: space-between;
}
.jc-se {
  justify-content: space-evenly;
}
.jc-sa {
  justify-content: space-around;
}
.jc-fs {
  justify-content: flex-start;
}
.jc-fe {
  justify-content: flex-end;
}
.ai-fs {
  align-items: flex-start;
}

.ai-fe {
  align-items: flex-end;
}
.g-center {
  display: grid;
  place-items: center;
}
.w-100 {
  width: 100%;
}

.titulo-1,
.titulo-2,
.titulo-3,
.titulo-4 {
  font-family: Cinzel Decorative;
}

.titulo-1 {
  font-size: 3rem;
  font-weight: var(--f-w-titulo-1);
}

.titulo-2 {
  font-size: 2.5rem;
  font-weight: var(--f-w-titulo-2);
}

.titulo-3 {
  font-size: 2rem;
  font-weight: var(--f-w-titulo-3);
}

.titulo-4 {
  font-size: 1.5rem;
  font-weight: var(--f-w-titulo-4);
}

.descripcion {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: var(--f-w-texto);
  letter-spacing: 0.5px;
  max-width: 75ch;
}

.menu__opcion {
  color: rgba(var(--color-texto-primario), 1);
  font-size: 1.3rem;
  text-align: center;
  font-family: Cinzel;
  outline: none;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.seccion {
  width: clamp(300px, 100%, 1200px);
}

body::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-tercero), 0.7);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(var(--color-segundo), 1);
}

@media (prefers-color-scheme: light) {
  .menu__opcion {
    font-weight: 800;
  }
}

@media (prefers-color-scheme: dark) {
  .menu__opcion {
    font-weight: 400;
  }
}
