* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: rgb(234, 234, 234);
  font-family: "Roboto Flex", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  max-width: 100svw;
  min-height: 100svh;
  background-image: linear-gradient(rgba(var(--color-primero), 1), rgba(var(--color-cuarto), 1));
  justify-content: space-between;
  position: relative;
  overflow: overlay;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.f-col {
  flex-direction: column;
}
.f-wrap {
  flex-wrap: wrap;
}
.jc-sb {
  justify-content: space-between;
}
.jc-se {
  justify-content: space-evenly;
}
.jc-sa {
  justify-content: space-around;
}
.jc-fs {
  justify-content: flex-start;
}
.jc-fe {
  justify-content: flex-end;
}
.ai-fs {
  align-items: flex-start;
}

.ai-fe {
  align-items: flex-end;
}
.g-center {
  display: grid;
  place-items: center;
}

.titulo-1 {
  font-family: Cinzel Decorative;
  font-size: 3rem;
  font-weight: 400;
}

.titulo-2 {
  font-family: Cinzel Decorative;
  font-size: 2.5rem;
  font-weight: 400;
}

.descripcion {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  max-width: 75ch;
}

.seccion {
  width: clamp(300px, 100%, 1200px);
}

body::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-tercero), 0.7);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(var(--color-segundo), 1);
}
