.calendario {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  width: clamp(300px, 90vw, 800px);
  height: 100%;
  gap: clamp(5px, 1vw, 20px);
}

.celda-dia-semana {
  font-size: 1.2rem;
  color: rgba(var(--color-texto-primario), 0.8);

  font-weight: bold;
  text-align: center;
  background-color: rgba(var(--color-segundo), 0.8);

  padding: 10px;
  border-radius: 5px;
  width: 100%;
  display: grid;
  place-items: center;
  cursor: default;
}

.celda-dia {
  /* width: clamp(10px, calc(4vw + 5px), 40px); */
   width: 100%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;

  gap: 10px;
  background: rgba(var(--color-tercero), 0.8);
  font-size: 1.3rem;
  cursor: pointer;
  transition-property: background-color, color, border, scale, font-size, box-shadow;
  transition-duration: var(--duracion-animacion-muy-rapido);
}

.celda-dia:hover {
  color: rgba(var(--color-texto-primario), 1);
  background-color: rgba(var(--color-segundo), 0.8);
  border: 3px solid rgba(var(--color-tercero), 1);
}

.celda-dia:hover,
.celda-dia.dia-seleccionado {
  box-shadow: 0 0 5px 5px rgba(var(--color-cuarto), 0.8);
  scale: 1.05;
}

.celda-dia.dia-seleccionado, .celda-dia-semana {
  color: rgba(var(--color-texto-secundario), 1);
  background-color: white;
  border: 3px solid rgba(var(--color-tercero), 1);
  font-weight: 750;
}

.celda-dia:not(:hover) {
  transition-duration: 2s;
}
