.card-comida {
  --card-width: 250px;
  --card-height: 350px;
  width: var(--card-width);
  height: var(--card-height);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: var(--card-border);
  background: rgba(var(--color-segundo), 0.8);
  overflow: hidden;
}

.comida__imagen {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  border-radius: 50%;
  background: lightgray 50% / cover no-repeat;
  translate: 0 calc(var(--card-height) * 0.1);
  scale: 1.4;
}

.comida__nombre {
  color: rgb(var(--color-tercero));
  text-align: center;
  text-wrap: pretty;

  font-size: 1.2rem;
  font-weight: 600;
  translate: 0 calc(var(--card-height) * 0.2);
}

.comida__precio {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(var(--color-texto-primario));
  translate: calc(var(--card-width) / 2 * -0.5) calc(var(--card-height) * 0.25);
}

.agregar-pedido {
  padding-inline: 10px;
  width: 40%;
  height: 30px;
  opacity: 0;
  translate: -120% 50px;
  font-weight: bold;
}

.comida__descripcion {
  overflow-y: auto;
  opacity: 0;
  translate: 0 120%;
  height: 100%;
  text-align: center;
}

.comida__descripcion-texto {
  font-size: 1rem;
  line-height: 1.2rem;
  text-wrap: balance;
}

.comida__descripcion::-webkit-scrollbar {
  width: 5px;
}

.comida__descripcion::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-tercero), 0.5);
  border-radius: 5px;
}

.comida__nombre,
.comida__precio,
.comida__descripcion {
  transition-property: opacity, translate, font-size;
  transition-duration: var(--duracion-animacion-normal);
  transition-timing-function: ease-in-out;
}
.comida__imagen {
  transition-property: scale, translate;
  transition-duration: var(--duracion-animacion-normal);
  transition-timing-function: ease-in-out;
}

.card-comida:hover .comida__nombre,
.card-comida:hover .comida__precio,
.card-comida:hover .agregar-pedido,
.card-comida:hover .comida__descripcion {
  opacity: 1;
  translate: 0;
}
.card-comida:hover .comida__imagen {
  translate: 0;
  scale: 1;
}

.card-comida:hover .comida__precio {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .card-comida {
    flex-direction: row;
    width: 100%;
    height: 200px;
  }
  .comida__imagen {
    width: auto;
    height: 100px;
    aspect-ratio: 1;
  }
}
