.card-comida {
  width: 200px;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border-radius: var(--card-border);
  background: rgba(var(--color-segundo), 0.8);
  color: #fff;
}

.comida__imagen {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  border-radius: 50%;
  background: lightgray 50% / cover no-repeat;
}

.comida__nombre {
  color: rgb(var(--color-tercero));

  text-align: center;
  font-size: 1rem;
}

.container .agregar_pedido {
  visibility: hidden;
  opacity: 0;
  left: -100px;
  bottom: 0;
}

.container .comida__precio {
}

.container .btn-principal {
  padding-inline: 10px;
  width: 70%;
  height: 30px;
}

.comida__precio {
  width: 30%;
  text-align: center;
  font-size: 1rem;
  color: rgb(var(--color-tercero));
}

.comida__descripcion {
  font-size: 0.8rem;
}

.card-comida:hover .agregar_pedido {
  opacity: 1;
}

.card-comida:hover .comida__descripcion {
  bottom: 0;
  opacity: 1;
}
