.card-captura {
  display: flex;
  padding: 10px;
  width: 250px;
  height: 350px;

  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--card-border);
  background: rgba(var(--color-cuarto), 0.3);

  text-align: center;
  gap: 20px;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5);
}

.captura__imagen {
  width: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.captura__descripcion {
  font-size: 20px;
  /* font-weight: var(--f-w-texto); */
}

:root[data-tema="claro"] .captura__descripcion {
  /* font-weight: 550; */
}
