.form-input {
  /* text-transform: capitalize; */
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 50px;
  height: 50px;
  position: relative;
  color: rgba(var(--color-texto-primario), 1);
}

.form-input:focus-within {
  /* box-shadow: 0 0 50px 20px #5cddeb4f; */
}

.form-input label {
  cursor: text;
  font-size: 1.3rem;
  padding-left: 20px;
  position: absolute;
  font-weight: var(--f-w-texto);
  top: 13px;
  transition-property: translate, scale;
  transition-duration: var(--duracion-animacion-lento);
  
  /* background-color: rgba(var(--bg-color-input), 1); */
  /* padding-inline: 10px; */
  /* border-top-left-radius: 5px; */
  /* border-top-right-radius: 5px; */
}

.form-input:focus-within > input + label,
.form-input:has(input:valid) > input + label,
.form-input:has(input:not([required])) > input:focus-within + label,
.form-input:has(textarea:valid) > textarea + label,
.form-input > input:focus-within:placeholder-shown + label,
.form-input > textarea:focus-within:placeholder-shown + label,
.form-input > input:invalid:not(:placeholder-shown) + label {
  /* color: rgba(var(--color-texto-primario), 1); */
  /* font-size: 1.1rem; */
  scale: 0.75;
  translate: -10px -25px;
}

.form-input input:invalid {
  /* border: 2px solid red; */
}

.form-input > input:not([required]):placeholder-shown + label,
.form-input:has(textarea) > textarea:placeholder-shown + label {
  translate: 0;
}

.form-input input::placeholder,
.form-input textarea::placeholder {
  transition: color 0.2s ease-in-out;
  color: transparent;
}

.form-control:focus-within::placeholder {
  color: rgba(var(--f-color-input), 0.5);
}

.form-input input,
.form-input textarea {
  background-color: rgba(var(--bg-color-input), 1);
  width: 100%;
  height: 100%;
  font-weight: var(--f-w-texto);
  color: rgba(var(--f-color-input), 1);
  font-size: 1.3rem;
  padding-inline: 20px;
}

.form-input.message {
  height: 100%;
}

.form-input.message textarea {
  padding-top: 10px;
  height: 200px;
  min-height: 50px;
  max-height: 400px;
  resize: vertical;
}

.form-input input,
.form-input input:focus-within,
.form-input textarea,
.form-input textarea:focus-within {
  outline: none;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-box-shadow: 0 0 0 50px rgba(var(--bg-color-input), 1) inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: rgba(var(--f-color-input), 1) !important;
}
