@import url("./btn-menu-opciones.css");
.header {
  width: 100%;
  padding: 1.25rem;
  top: 0;
  position: fixed;
  z-index: 100;
  gap: 0;
  background-image: linear-gradient(
    rgba(var(--color-primero), 1),
    rgba(var(--color-primero), 0.8),
    rgba(var(--color-primero), 0)
  );
}

.header-mobile {
  display: none;
}

.menu--izquierdo {
  justify-content: flex-start;
}

.menu--derecho {
  justify-content: flex-end;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.menu__opcion:hover,
.menu__opcion:focus-within {
  color: rgb(var(--color-tercero));
}

.header-mobile .menu__opcion {
  font-weight: 600;
  font-size: 1.5rem;
}

.header__logo {
  width: clamp(100px, 20vw, 300px);
  aspect-ratio: 1;

  border-radius: 50%;
  /*   
    background-image: linear-gradient(
      rgba(var(--color-primero), 0.7),
      rgba(var(--color-primero), 0)
    ); */
}

.carrito {
  width: 41px;
  height: 41px;
  position: absolute;
  right: 40px;
  top: 80px;
  cursor: pointer;
}

.carrito > div {
  width: 100%;
  position: relative;
}

.carrito > div .carrito__cantidad,
.carrito > div img {
  position: absolute;
}

.carrito__cantidad {
  right: -10px;
  top: -10px;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(var(--color-texto-primario), 1);
  color: rgb(var(--color-tercero));
  font-size: 1.2rem;
  font-weight: 800;
  visibility: hidden;
}

.carrito__cantidad .mostrar {
  visibility: visible;
}

@media (prefers-color-scheme: light) {
  .header__logo {
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 1));
  }
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 900px) {
  .header-escritorio {
    display: none;
  }
  .header-mobile {
    display: flex;
    gap: 20px;
  }

  .header__logo {
    width: 80px;
    aspect-ratio: 1;
  }

  .menu-icon {
    position: relative;
    width: 40px;
    height: 40px;
  }
  .carrito-mobile {
    position: static;
  }

  .header-mobile .header__menu {
    /* display: none; */
    flex-direction: column;
    width: 100%;
    height: 100svh;
    background-image: linear-gradient(
      rgba(var(--color-primero), 1),
      rgba(var(--color-cuarto), 1),
      rgba(var(--color-cuarto), 0.95)
    );

    position: absolute;
    top: 0;
    right: 0;
    padding-top: 200px;
    /* al abrirse lo hacer desde la esquin en forma circular*/
    clip-path: ellipse(0% 0% at top right);

    transition: clip-path 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__menu.mostrar {
    clip-path: ellipse(110% 120% at top right);
    display: flex;
  }
}
