<div class="card-comida">
  <img
    class="comida__imagen"
    src="../../assets/images/comidas/comida-1.jpg"
    alt="Plato de fideos con ternera"
  />
  <span class="comida__nombre">Fideos con Ternera</span>
  <div class="container">
    <div class="btn_pricipal agregar_pedido">
      <span class="btn_name">Agregar</span>
    </div>
    <span class="comida__precio">$1000</span>
  </div>
  <div class="container">
    <span class="comida__descripcion"
      >Lorem ipsum dolor sit amet consectetur. Etiam mollis sed morbi tincidunt. Aliquet sit
      ullamcorper fringilla pretium tortor.</span
    >
  </div>
</div>
