@import url("../../styles/components/card-comida.css");

.seccion-platos{
    gap: 50px;
}

.filtro {
  max-width: 400px;
}

.seccion-comidas{
    gap: 50px;
}
.btn-principal{
    width: 100%;
    height: 30px;
}


@media screen and (max-width: 768px) {
  .seccion-platos {
    flex-direction: column;
    width: 100%;
  }

  .filtros {
    flex-direction: column;
  }
  .filtro {
    max-width: 100%;
    width: 100%;
  }
  .seccion-comidas {
    flex-direction: column;
    width: 100%;
  }
}
    