@import url("../../styles/components/card-plato.css");
.seccion-reserva {
  gap: 50px;
}

.form-datos{
}

.datos-personales,
.datos-contacto {
  width: 100%;
}

.form-reserva {
  /* padding-inline: 50px; */
  gap: 50px;
}

.desplegable-hora .listado-opciones {
  flex-direction: row;
}

.contenedor-horas {
  overflow: hidden;
}

.horasDisponibles,
.minutosDisponibles {
  width: 100%;
  overflow-y: auto;
}

.horasDisponibles {
  justify-content: flex-start;
}

.hora,
.minuto {
  display: grid;
  place-items: center;
  padding: 5px;
  cursor: pointer;
}

.hora:hover,
.minuto:hover {
  background-color: rgba(var(--color-cuarto), 1);
  color: rgba(var(--color-texto-primario), 1);
}

.hora.seleccionado,
.minuto.seleccionado {
  background-color: rgba(var(--color-tercero), 1);
  color: rgba(var(--color-primero), 1);
  font-weight: 600;
}

.icono-relog {
  /* background-image: url(../../assets/svg/x-circulo.svg); */
}

.reserva-pedido {
  display: none;
}

.reserva-pedido.show {
  display: flex;
}

.reserva-platos {
  gap: 1.5rem;
  /* display: none; */
}

.pedido__platos {
  width: 60%;
  gap: 20px;
}



.pedido__total {
  background-color: rgba(var(--color-texto-primario), 1);
  border-radius: var(--card-border);
  padding: 20px;
  width: 40%;
}

.titulo_subtotales {
  color: rgba(var(--color-primero), 1);
  font-size: 2rem;
  font-weight: 600;
}

.pedido__total .campo-nombre,
.pedido__total .campo-valor {
  width: 100%;
  text-align: center;
}

.subtotales {
}

.subtotal {
  height: 20px;
  width: 100%;
}

span:has(.campo-valor) {
  color: rgba(var(--color-tercero), 1);
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.campo-nombre {
  color: rgba(var(--color-primero), 1);
  font-size: 1.1rem;
  text-transform: capitalize;
}

.campo-valor {
  color: rgba(var(--color-tercero), 1);
  font-size: 1.2rem;
  font-weight: 600;
}

.separador {
  width: 100%;
  height: 5px;
  background-color: rgba(var(--color-segundo), 1);
  border-radius: 5px;
}

.total-pedido .campo-nombre,
.pago-inicial .campo-nombre,
.total-pendiente .campo-nombre {
  font-weight: 600;
}

.politica__nombre {
  font-size: 1.2rem;
  color: rgba(var(--color-tercero), 1);
}

@media screen and (max-width: 768px) {
  .form-datos,
  .datos-personales,
  .datos-reserva {
    flex-direction: column;
  }

  .form-datos{
    gap: 50px;
  }
}
@media screen and (max-width: 900px) {
  .reserva-platos {
    flex-direction: column;
  }
  .pedido__platos,
  .pedido__total {
    width: 100%;
  }
}
