@import url(./styles/fonts.css);
@import url(./styles/globales.css);
@import url(./styles/components/header.css);
@import url(./styles/components/inicio.css);
@import url(./styles/components/footer.css);
@import url(./styles/components/btn-principal.css);
@import url(./styles/components/card-captura.css);
@import url(./styles/components/card-cliente.css);

:root {
  --color-primero: 34, 40, 50;
  --color-segundo: 47, 56, 71;
  --color-tercero: 231, 161, 23;
  --color-cuarto: 197, 127, 30;

  --card-border: 10px;
  --card-hover-duration: 0.5s;
}
