.pagina_menus { 
	background-image:linear-gradient(0deg, rgba(34.00000177323818, 40.00000141561031, 50.000000819563866, 1) 21.875%,rgba(197.0000034570694, 127.00000002980232, 30.00000011175871, 1) 100%) ;
	width:947px;
	height:1113px;
	position:absolute;
}.header { 
	width:947px;
	height:270px;
	position:absolute;
	left:0px;
	top:0px;
}.container_menu_opciones { 
	width:347px;
	height:16px;
	position:absolute;
	left:580px;
	top:20px;
}.menu_opcion { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:16px;
	position:absolute;
	left:272px;
	top:0px;
	font-family:Cinzel Decorative;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.logo { 
	width:100px;
	height:107.9812240600586px;
	position:absolute;
	left:404px;
	top:4px;
	transform: rotate(-3.0617613445625937e-22deg);
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}.carrito_3 { 
	width:41px;
	height:41px;
	position:absolute;
	left:886px;
	top:37px;
}.rueda_rueda_trasera { 
	background-color:rgba(231.00000143051147, 161.0000056028366, 23.000000528991222, 1);
	width:6.172839164733887px;
	height:6.172839164733887px;
	position:absolute;
	left:16.012344360351562px;
	top:31.4012451171875px;
}.i60_760_198_1408 { 
	border:1.5px solid rgba(197.0000034570694, 127.00000002980232, 30.00000011175871, 1);
}.rueda_rueda_delantera { 
	background-color:rgba(231.00000143051147, 161.0000056028366, 23.000000528991222, 1);
	width:6.172839164733887px;
	height:6.172839164733887px;
	position:absolute;
	left:28.35802459716797px;
	top:31.4012451171875px;
}.i60_760_198_1409 { 
	border:1.5px solid rgba(197.0000034570694, 127.00000002980232, 30.00000011175871, 1);
}.i60_760_198_1410 { 
	border:1.5px solid rgba(197.0000034570694, 127.00000002980232, 30.00000011175871, 1);
}.carrito { 
	width:38.5px;
	height:17.984243392944336px;
	position:absolute;
	left:1px;
	top:10.5px;
}.plato { 
	background-color:rgba(231.00000143051147, 161.0000056028366, 23.000000528991222, 1);
	width:23px;
	height:23px;
	position:absolute;
	left:14px;
	top:3.5px;
}.i60_760_198_1411 { 
	border:1.5px solid rgba(197.0000034570694, 127.00000002980232, 30.00000011175871, 1);
}.main { 
	width:947px;
	height:573px;
	position:absolute;
	left:0px;
	top:280px;
}.seccion_filtro { 
	width:927px;
	height:123px;
	position:absolute;
	left:10px;
	top:0px;
}.filtros_de_b_squeda { 
	color:rgba(255, 255, 255, 1);
	width:907px;
	height:46px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.filtros { 
	width:907px;
	height:40px;
	position:absolute;
	left:10px;
	top:73px;
}.dropdown_check { 
	background-color:rgba(197.0000034570694, 127.00000002980232, 30.00000011175871, 1);
	width:291px;
	height:40px;
	position:absolute;
	left:616px;
	top:0px;
}.dropdown_name { 
	color:rgba(255, 255, 255, 1);
	width:231px;
	height:1px;
	position:absolute;
	left:20px;
	top:19.5px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.i63_1805_63_1228 { 
	border:3px solid rgba(255, 255, 255, 1);
}.icon_i_flecha_abajo { 
	width:20px;
	height:10px;
	position:absolute;
	left:251px;
	top:15px;
}.listado_opciones { 
	width:260px;
	height:260px;
	position:absolute;
	left:20px;
	top:50px;
}.dropdown_select { 
	background-color:rgba(197.0000034570694, 127.00000002980232, 30.00000011175871, 1);
	width:291px;
	height:40px;
	position:absolute;
	left:308px;
	top:0px;
}.i63_1808_63_1243 { 
	border:3px solid rgba(255, 255, 255, 1);
}.i63_1811_63_1228 { 
	border:3px solid rgba(255, 255, 255, 1);
}.seccion_menus { 
	width:927px;
	height:440px;
	position:absolute;
	left:10px;
	top:133px;
}.card_comida { 
	background-color:rgba(47.0000009983778, 56.000000461936, 71.00000336766243, 1);
	width:125px;
	height:200px;
	position:absolute;
	left:546px;
	top:230px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.comida__imagen { 
	width:110px;
	height:110px;
	position:absolute;
	left:7.5px;
	top:29px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/comida__imagen.png);
	background-repeat:no-repeat;
	background-size:cover;
}.comida__nombre { 
	color:rgba(231.00000143051147, 161.0000056028366, 23.000000528991222, 1);
	width:105px;
	height:12px;
	position:absolute;
	left:10px;
	top:144px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}.comida__precio { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:10px;
	position:absolute;
	left:39.5px;
	top:161px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}.container { 
	width:907px;
	height:115px;
	position:absolute;
	left:20px;
	top:70.00001525878906px;
}.comida__agregar { 
	color:rgba(231.00000143051147, 161.0000056028366, 23.000000528991222, 1);
	width:46px;
	height:10px;
	position:absolute;
	left:31px;
	top:5px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}.comida__descripcion { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:10px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}.footer { 
	background-color:rgba(47.0000009983778, 56.000000461936, 71.00000336766243, 0.5);
	width:947px;
	height:250.00001525878906px;
	position:absolute;
	left:0px;
	top:863px;
}.container_f_wrap_redes_sociales { 
	width:907px;
	height:40.00001525878906px;
	position:absolute;
	left:20px;
	top:20px;
}.red_social_whatsapp { 
	background-color:rgba(231.00000143051147, 161.0000056028366, 23.000000528991222, 1);
	width:20px;
	height:20.000015258789062px;
	position:absolute;
	left:293.5px;
	top:10px;
}.red_social_instagram { 
	background-color:rgba(231.00000143051147, 161.0000056028366, 23.000000528991222, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:353.5px;
	top:10.000007629394531px;
}.red_social_facebook { 
	background-color:rgba(231.00000143051147, 161.0000056028366, 23.000000528991222, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:413.5px;
	top:10.000007629394531px;
}.red_social_tik_tok { 
	background-color:rgba(231.00000143051147, 161.0000056028366, 23.000000528991222, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:473.5px;
	top:10.000007629394531px;
}.red_social_youtube { 
	background-color:rgba(231.00000143051147, 161.0000056028366, 23.000000528991222, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:533.5px;
	top:10.000007629394531px;
}.red_social_twitter { 
	background-color:rgba(231.00000143051147, 161.0000056028366, 23.000000528991222, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:593.5px;
	top:10.000007629394531px;
}.menu { 
	transform: rotate(-3.0617613445625937e-22deg);
	width:51px;
	height:115px;
	position:absolute;
	left:0px;
	top:0px;
}.menu__opcion { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:15px;
	position:absolute;
	left:0px;
	top:85px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.container_f_col_contaco { 
	width:176px;
	height:115px;
	position:absolute;
	left:731px;
	top:0px;
}.phone { 
	width:143px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.imagen { 
	background-image:linear-gradient(0deg, rgba(231.00000143051147, 161.0000056028366, 23.000000528991222, 1) 0%,rgba(197.0000034570694, 127.00000002980232, 30.00000011175871, 0.10000000149011612) 100%) ;
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:2.5px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.red_social_telefono { 
	background-color:rgba(255, 255, 255, 1);
	width:18px;
	height:18.003461837768555px;
	position:absolute;
	left:6.125px;
	top:6px;
}.telefono { 
	color:rgba(255, 255, 255, 1);
	width:103px;
	height:15px;
	position:absolute;
	left:40px;
	top:7.5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.mail { 
	width:176px;
	height:30px;
	position:absolute;
	left:0px;
	top:40px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.red_social_mail { 
	background-color:rgba(255, 255, 255, 1);
	width:18px;
	height:13px;
	position:absolute;
	left:6.125px;
	top:8px;
}.texto { 
	color:rgba(255, 255, 255, 1);
	width:136px;
	height:15px;
	position:absolute;
	left:40px;
	top:7.5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.direccion { 
	width:148px;
	height:35px;
	position:absolute;
	left:0px;
	top:80px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.red_social_ubicacion { 
	background-color:rgba(255, 255, 255, 1);
	width:15px;
	height:21px;
	position:absolute;
	left:7.125px;
	top:4.875px;
}.container_f_col { 
	width:108px;
	height:35px;
	position:absolute;
	left:40px;
	top:0px;
}.calle { 
	color:rgba(255, 255, 255, 1);
	width:56px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.ciudad { 
	color:rgba(255, 255, 255, 1);
	width:108px;
	height:15px;
	position:absolute;
	left:0px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.legales { 
	width:907px;
	height:35px;
	position:absolute;
	left:20px;
	top:195.00001525878906px;
}.copyright___2023_la_perle_noire__todos_los_derechos_reservados { 
	color:rgba(255, 255, 255, 1);
	width:887px;
	height:15px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}